.header{
    width: 100%;
    height: max-content;
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--ElementColor);
    box-sizing: border-box;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.301);
}

.headerContainer{
    max-width: 1440px;
    width: 1440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header p{
    font-size: 2rem;
    color: var(--white);
    font-weight: 800;
    margin: auto 0;
    
}

.header span{
    font-size: 1.5rem;
    color: var(--white);
    margin: auto 0;
    font-weight: 800;
    cursor: pointer;
    
}

.header i{
    color: var(--white);
}

@media (max-width: 490px){
    .headerContainer p, .headerContainer span{
        margin: 0 auto;
        text-align: center;
    }
}