@import url('../../var.css');

.sectionCountry{
    max-width: 1440px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

.sectionCountry a{
    width: max-content;
    background-color: var(--ElementColor);
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white);
    padding: 8px 25px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    border-radius: 10px;
    text-align: center;
}

.countrySelect{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;
}

.countrySelect img{
    width: 650px;
    margin: 0 auto;
}

.countryText{
    width: 550px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.countryText strong{
    font-size: 2.1rem;
    color: var(--white);
    font-weight: 800;
}

.countryInfoText{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.countryInfoText div{
    margin-top: 15px;
}


.countryText li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.countryText p{
    color: var(--white);
    margin-right: 5px;
}

.countryText span{
    color: var(--grey);
}

.bCountries{
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
}

.bCountries p{
    margin: auto 0;
}

.bCountries li{
    color: var(--white);
    background-color: var(--ElementColor);
    padding: 4px 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    border-radius: 5px;
    margin: 0; 
    margin-left: 5px;
}

.linkStyle{
    text-decoration: none;
}