@import url('../../var.css');

.sectionCountry{
    display: none;
}

.countrySelect{
    display: flex;
}

.countryText strong{
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 800;
}

.countryText li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.countryText p{
    color: var(--white);
    margin-right: 5px;
}

.countryText span{
    color: hsl(0, 0%, 79%);
}