@import url('../../var.css');

.sectionCountry{
    max-width: 1440px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

.sectionCountry a{
    width: max-content;
    background-color: var(--ElementColor);
    text-decoration: none;
    font-size: 2rem;
    color: var(--white);
    padding: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    border-radius: 10px;
    text-align: center;
}

.countrySelect{
    display: flex;
    justify-content: space-between;
}

.countrySelect img{
    width: 650px;
}

.countryText{
    width: 500px;
}

.countryText strong{
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 800;
}

.countryText li{
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.countryText p{
    color: var(--white);
    margin-right: 5px;
}

.countryText span{
    color: hsl(0, 0%, 79%);
}

.bCountries{
    width: 330px;
    display: flex;
    justify-content: space-between;
}

.bCountries li{
    color: var(--white);
    background-color: var(--ElementColor);
    padding: 4px 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    border-radius: 5px; 
}