@import url('../../var.css');

.search-cont{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.search-cont input{
    font-size: 1.1rem;
    padding: 10px;
    background-color: var(--ElementColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
    color: var(--white);
    border: none;
    border-radius: 10px;
}

.search-cont input::placeholder{
    color: rgb(133, 133, 133);
}

.search-cont select{
    width: max-content;
    font-size: 1.1rem;
    padding: 10px;
    background-color: var(--ElementColor);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
    color: var(--white);
    border: none;
    border-radius: 10px;
    text-align: center;
}

.toggle{
    display: none;
}
.on{
    display: block;
}